@model MultiFive.Domain.Game

@{
    ViewBag.Title = "Game " + @Model.Id;
}

<h2>Game @Model.Id</h2>

<h4>Players:</h4>

<ol>
    <li id="p1">
        @Model.Player1
    </li>
    <li id="p2">
        @Model.Player2
        <span data-bind="text: opponentName"></span> 
    </li>
</ol>

@section scripts
{
    <script>
        var gameId = "@Html.Raw(Model.Id)";
    </script>
    
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/client")
}