@model MultiFive.Domain.Game

@{
    ViewBag.Title = "Game " + @Model.Id;
}

<h2>Game @Model.Id</h2>

<h4>Players:</h4>

<ol>
    <li>
        <span data-bind="text: player1Name"/>
    </li>
    <li>
        <span data-bind="text: player2Name"/>
    </li>
</ol>

@section codebehind
{
    MultiFive.show("@Model.Id", "@Model.Player1", "@Model.Player2");
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/messageHub")
    @Scripts.Render("~/bundles/show")
}