@model MultiFive.Web.Models.GameSnapshot

@{
    ViewBag.Title = "Game " + @Model.Game.Id;
}
<style type="text/css">
    #gameField a {
        min-width: 35px;
        max-width: 35px;
    }
    .playerActive {
        font-weight: bold
    }
</style>

<ul>
    <li>
        <span data-bind="text: player1Name, css: { playerActive: player1Active }" />
    </li>
    <li>
        <span data-bind="text: player2Name, css: { playerActive: player2Active }" />
    </li>
</ul>

<table id="gameField">
    @for (int row = 0; row < Model.Game.Height; ++row)
    {
        <tr>
            @for (int col = 0; col < Model.Game.Width; ++col)
            {
                <td>
                    <a href="#" class="btn btn-default" data-bind="click: function() { cellClicked(@row, @col);}">
                        <span data-bind="html: field[@row][@col]"></span>
                    </a>
                </td>
            }
        </tr>
    }
</table>

@section codebehind
{
    new MultiFive.showForm({
        playerRole: "@ViewBag.PlayerRole",
        gameState: "@Model.Game.CurrentState",
        gameId: "@Model.Game.Id",
        player1Name: "@Model.Game.Player1",
        player2Name: "@Model.Game.Player2",
        width: @Model.Game.Width,
        height: @Model.Game.Height,
        fieldData: @Json.Encode(Model.Game.FieldData),
        lastMessageId: @Model.LastMessageId
    });
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/messageHub")
    <script src="~/Scripts/stateless.js"></script>
    @Scripts.Render("~/bundles/show")
}
