@model MultiFive.Web.Models.GameSnapshot

@{
    ViewBag.Title = "Game " + @Model.Game.Id;
}

<h2>Game @Model.Game.Id</h2>

<h4>Players:</h4>

<ol>
    <li>
        <span data-bind="text: player1Name"/>
    </li>
    <li>
        <span data-bind="text: player2Name"/>
    </li>
</ol>

@section codebehind
{
    MultiFive.show("@Model.Game.Id", "@Model.Game.Player1", "@Model.Game.Player2", @Model.LastMessageId);
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/messageHub")
    @Scripts.Render("~/bundles/show")
}