@model MultiFive.Web.Models.GameSnapshot

@{
    ViewBag.Title = "Game " + @Model.Game.Id;
}
<style type="text/css">
    .cell-30 {
        min-width: 40px;
        min-height: 40px;
    }
</style>

<ul>
    <li>
        <span data-bind="text: player1Name" />
    </li>
    <li>
        <span data-bind="text: player2Name" />
    </li>
</ul>

<div class="container">
    @for (int row = 0; row < Model.Game.Height; ++row)
    {
        <div class="row">
            @for (int col = 0; col < Model.Game.Width; ++col)
            {
                <a href="#" class="btn btn-default cell-30" data-bind="click: function() { cellClicked(@row, @col);}">
                    <span data-bind="html: field[@row][@col]"></span>
                </a>
            }
        </div>
    }
</div>

@section codebehind
{
    MultiFive.show({
        gameId: "@Model.Game.Id",
        player1Name: "@Model.Game.Player1",
        player2Name: "@Model.Game.Player2",
        width: @Model.Game.Width,
        height: @Model.Game.Height,
        fieldData: @Json.Encode(Model.Game.FieldData),
        lastMessageId: @Model.LastMessageId
    });
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/messageHub")
    @Scripts.Render("~/bundles/show")
}
