@model MultiFive.Domain.Game

@{
    ViewBag.Title = "Game " + @Model.Id;
}

<h2>Game @Model.Id</h2>

<h4>Players:</h4>

<ol>
    <li>
        <span data-bind="text: player1Name"/>
    </li>
    <li>
        <span data-bind="text: player2Name"/>
    </li>
</ol>

@section init_codebehind
{
    player1Name: "@Model.Player1",
    player2Name: "@Model.Player2",
    gameId: "@Model.Id"
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/messageHub")
    @Scripts.Render("~/bundles/show")
}